@font-face {
  font-family: 'iconplace';
  src:  url('icons/iconplace.eot?dh0hnh');
  src:  url('icons/iconplace.eot?dh0hnh#iefix') format('embedded-opentype'),
    url('icons/iconplace.ttf?dh0hnh') format('truetype'),
    url('icons/iconplace.woff?dh0hnh') format('woff'),
    url('icons/iconplace.svg?dh0hnh#iconstoday') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i.ip {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconplace' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ip-ripple:before {
  content: "\e9bf";
}
.ip-rub:before {
  content: "\e9c0";
}
.ip-sage:before {
  content: "\e9c1";
}
.ip-sepa:before {
  content: "\e9c2";
}
.ip-shopify:before {
  content: "\e9c4";
}
.ip-six:before {
  content: "\e9c5";
}
.ip-skrill:before {
  content: "\e9c6";
}
.ip-sodexo:before {
  content: "\e9c8";
}
.ip-sofort:before {
  content: "\e9c9";
}
.ip-square:before {
  content: "\e9ca";
}
.ip-stripe:before {
  content: "\e9cb";
}
.ip-truste:before {
  content: "\e9cc";
}
.ip-try:before {
  content: "\e9cd";
}
.ip-unionpay:before {
  content: "\e9ce";
}
.ip-venmo:before {
  content: "\e9d0";
}
.ip-verified-by-visa:before {
  content: "\e9d1";
}
.ip-verisign:before {
  content: "\e9d2";
}
.ip-visa:before {
  content: "\e9d3";
}
.ip-visa-debit:before {
  content: "\e9d4";
}
.ip-visa-electron:before {
  content: "\e9d5";
}
.ip-visa-pay:before {
  content: "\e9d6";
}
.ip-wechat-pay:before {
  content: "\e9d7";
}
.ip-western-union:before {
  content: "\e9d8";
}
.ip-wirecard:before {
  content: "\e9d9";
}
.ip-alipay:before {
  content: "\e9da";
}
.ip-amazon:before {
  content: "\e9db";
}
.ip-amazon-pay:before {
  content: "\e9dc";
}
.ip-american-express:before {
  content: "\e9de";
}
.ip-apple-pay:before {
  content: "\e9e0";
}
.ip-atm:before {
  content: "\e9e1";
}
.ip-bancontact-mister-cash:before {
  content: "\e9e2";
}
.ip-bankomat:before {
  content: "\e9e3";
}
.ip-bank-transfer:before {
  content: "\e9e4";
}
.ip-bitcoin:before {
  content: "\e9e5";
}
.ip-bitcoin-sign:before {
  content: "\e9e6";
}
.ip-bitpay:before {
  content: "\e9e7";
}
.ip-bpay:before {
  content: "\e9e8";
}
.ip-braintree:before {
  content: "\e9e9";
}
.ip-btc:before {
  content: "\e9ea";
}
.ip-card:before {
  content: "\e9eb";
}
.ip-carta-si:before {
  content: "\e9ec";
}
.ip-cash:before {
  content: "\e9ed";
}
.ip-cashcloud:before {
  content: "\e9ee";
}
.ip-cash-on-delivery:before {
  content: "\e9ef";
}
.ip-cash-on-pickup:before {
  content: "\e9f0";
}
.ip-cb:before {
  content: "\e9f1";
}
.ip-cirrus:before {
  content: "\e9f2";
}
.ip-clickandbuy:before {
  content: "\e9f4";
}
.ip-contactless:before {
  content: "\e9f5";
}
.ip-dankort:before {
  content: "\e9f8";
}
.ip-diners:before {
  content: "\e9f9";
}
.ip-direct-debit:before {
  content: "\e9fb";
}
.ip-discover:before {
  content: "\e9fc";
}
.ip-ec:before {
  content: "\e9fd";
}
.ip-elo:before {
  content: "\e9fe";
}
.ip-eps:before {
  content: "\ea00";
}
.ip-eth:before {
  content: "\ea01";
}
.ip-facture:before {
  content: "\ea03";
}
.ip-fattura:before {
  content: "\ea04";
}
.ip-flattr:before {
  content: "\ea05";
}
.ip-giropay:before {
  content: "\ea06";
}
.ip-google-wallet:before {
  content: "\ea07";
}
.ip-google-wallet-alt:before {
  content: "\ea08";
}
.ip-gratipay:before {
  content: "\ea0a";
}
.ip-gratipay-sign:before {
  content: "\ea0b";
}
.ip-hipercard:before {
  content: "\ea0c";
}
.ip-ideal:before {
  content: "\ea0d";
}
.ip-ils:before {
  content: "\ea0e";
}
.ip-inr:before {
  content: "\ea0f";
}
.ip-interac:before {
  content: "\ea10";
}
.ip-invoice:before {
  content: "\ea12";
}
.ip-jcb:before {
  content: "\ea17";
}
.ip-jpy:before {
  content: "\ea18";
}
.ip-klarna:before {
  content: "\ea19";
}
.ip-krw:before {
  content: "\ea1a";
}
.ip-ltc:before {
  content: "\ea1b";
}
.ip-maestro:before {
  content: "\ea1c";
}
.ip-mastercard:before {
  content: "\ea1e";
}
.ip-mastercard-securecode:before {
  content: "\ea20";
}
.ip-mercado-pago:before {
  content: "\ea21";
}
.ip-mercado-pago-sign:before {
  content: "\ea22";
}
.ip-moip:before {
  content: "\ea23";
}
.ip-multibanco:before {
  content: "\ea24";
}
.ip-ogone:before {
  content: "\ea25";
}
.ip-pagseguro:before {
  content: "\ea26";
}
.ip-paybox:before {
  content: "\ea27";
}
.ip-paylife:before {
  content: "\ea28";
}
.ip-paymill:before {
  content: "\ea29";
}
.ip-paypal:before {
  content: "\ea2a";
}
.ip-paysafecard:before {
  content: "\ea2c";
}
.ip-payshop:before {
  content: "\ea2d";
}
.ip-payu:before {
  content: "\ea2e";
}
.ip-western-union-alt:before {
  content: "\ea2f";
}
.ip-postepay:before {
  content: "\ea30";
}
.ip-quick:before {
  content: "\ea31";
}
.ip-rechnung:before {
  content: "\ea32";
}
.ip-patreon:before {
  content: "\e97b";
}
.ip-path:before {
  content: "\e994";
}
.ip-open-source:before {
  content: "\e995";
}
.ip-myspace:before {
  content: "\e996";
}
.ip-linkedin:before {
  content: "\e997";
}
.ip-instagram:before {
  content: "\e998";
}
.ip-google-play:before {
  content: "\e999";
}
.ip-google-drive:before {
  content: "\e99a";
}
.ip-github:before {
  content: "\e99b";
}
.ip-github-2:before {
  content: "\e99c";
}
.ip-youtube:before {
  content: "\e99d";
}
.ip-xing:before {
  content: "\e99e";
}
.ip-wordpress:before {
  content: "\e99f";
}
.ip-whatsapp:before {
  content: "\e9a0";
}
.ip-wechat:before {
  content: "\e9a1";
}
.ip-vimeo:before {
  content: "\e9a2";
}
.ip-git:before {
  content: "\e9a3";
}
.ip-foursquare:before {
  content: "\e9a4";
}
.ip-messenger:before {
  content: "\e9a5";
}
.ip-facebook:before {
  content: "\e9a6";
}
.ip-envato:before {
  content: "\e9a7";
}
.ip-dropbox:before {
  content: "\e9a8";
}
.ip-dribbble:before {
  content: "\e9a9";
}
.ip-discord:before {
  content: "\e9aa";
}
.ip-codepen:before {
  content: "\e9ab";
}
.ip-behance:before {
  content: "\e9ac";
}
.ip-airbnb:before {
  content: "\e9ad";
}
.ip-gag:before {
  content: "\e9ae";
}
.ip-teamspeak:before {
  content: "\e9af";
}
.ip-reyfm:before {
  content: "\e9b0";
}
.ip-trello:before {
  content: "\e9b1";
}
.ip-twitter:before {
  content: "\e9b2";
}
.ip-twitch:before {
  content: "\e9b3";
}
.ip-pinterest:before {
  content: "\e9b4";
}
.ip-steam:before {
  content: "\e9b5";
}
.ip-telegram:before {
  content: "\e9b6";
}
.ip-soundcloud:before {
  content: "\e9b7";
}
.ip-skype:before {
  content: "\e9b8";
}
.ip-slack:before {
  content: "\e9b9";
}
.ip-reddit:before {
  content: "\e9ba";
}
.ip-skillshare:before {
  content: "\e9bb";
}
.ip-spotify:before {
  content: "\e9bc";
}
.ip-snapchat:before {
  content: "\e9bd";
}
.ip-unsplash:before {
  content: "\e9be";
}
.ip-no-lan-cable:before {
  content: "\e970";
}
.ip-piggy-bank:before {
  content: "\e971";
}
.ip-rocket:before {
  content: "\e972";
}
.ip-router-h:before {
  content: "\e973";
}
.ip-router-v:before {
  content: "\e974";
}
.ip-set-element:before {
  content: "\e975";
}
.ip-sound-full:before {
  content: "\e976";
}
.ip-sound-low:before {
  content: "\e977";
}
.ip-sound-medium:before {
  content: "\e978";
}
.ip-statistic-grow:before {
  content: "\e979";
}
.ip-statistic-shrink:before {
  content: "\e97a";
}
.ip-wlan-full:before {
  content: "\e97c";
}
.ip-wlan-low:before {
  content: "\e97d";
}
.ip-wlan-middle:before {
  content: "\e97e";
}
.ip-wlan-no-connection:before {
  content: "\e97f";
}
.ip-battery-empty:before {
  content: "\e980";
}
.ip-battery-four:before {
  content: "\e981";
}
.ip-battery-full:before {
  content: "\e982";
}
.ip-battery-one:before {
  content: "\e983";
}
.ip-battery-three:before {
  content: "\e984";
}
.ip-battery-two:before {
  content: "\e985";
}
.ip-coffee-cup:before {
  content: "\e987";
}
.ip-coffee-mug:before {
  content: "\e988";
}
.ip-earth-half-grid:before {
  content: "\e989";
}
.ip-edit-element:before {
  content: "\e98a";
}
.ip-elements:before {
  content: "\e98b";
}
.ip-gaming-controller:before {
  content: "\e98c";
}
.ip-grid:before {
  content: "\e98d";
}
.ip-headphones:before {
  content: "\e98e";
}
.ip-headset:before {
  content: "\e98f";
}
.ip-image-frame:before {
  content: "\e990";
}
.ip-lan-cable:before {
  content: "\e991";
}
.ip-loading:before {
  content: "\e992";
}
.ip-music-note:before {
  content: "\e993";
}
.ip-hopper:before {
  content: "\e96c";
}
.ip-view-grid:before {
  content: "\e96d";
}
.ip-view-list:before {
  content: "\e96e";
}
.ip-crown:before {
  content: "\e96f";
}
.ip-bill:before {
  content: "\e900";
}
.ip-cog:before {
  content: "\e901";
}
.ip-credit-card:before {
  content: "\e902";
}
.ip-cubes:before {
  content: "\e903";
}
.ip-shield-tick:before {
  content: "\e904";
}
.ip-user:before {
  content: "\e905";
}
.ip-arrow-down:before {
  content: "\e906";
}
.ip-arrow-left:before {
  content: "\e907";
}
.ip-arrow-right:before {
  content: "\e908";
}
.ip-arrow-up:before {
  content: "\e909";
}
.ip-bars:before {
  content: "\e90a";
}
.ip-minus:before {
  content: "\e90b";
}
.ip-emoji-happy:before {
  content: "\e90c";
}
.ip-microphone:before {
  content: "\e90d";
}
.ip-phone:before {
  content: "\e90e";
}
.ip-plus:before {
  content: "\e90f";
}
.ip-price-tag:before {
  content: "\e910";
}
.ip-search:before {
  content: "\e911";
}
.ip-send:before {
  content: "\e912";
}
.ip-slider:before {
  content: "\e913";
}
.ip-slider-small:before {
  content: "\e914";
}
.ip-tag:before {
  content: "\e915";
}
.ip-tick:before {
  content: "\e916";
}
.ip-video-camera:before {
  content: "\e917";
}
.ip-at:before {
  content: "\e918";
}
.ip-bell:before {
  content: "\e919";
}
.ip-circle-info:before {
  content: "\e91a";
}
.ip-close:before {
  content: "\e91b";
}
.ip-copy:before {
  content: "\e91c";
}
.ip-cube:before {
  content: "\e91d";
}
.ip-link:before {
  content: "\e91e";
}
.ip-lock:before {
  content: "\e91f";
}
.ip-lock-open:before {
  content: "\e920";
}
.ip-marker:before {
  content: "\e921";
}
.ip-shopping-bag:before {
  content: "\e922";
}
.ip-shopping-cart:before {
  content: "\e923";
}
.ip-trash:before {
  content: "\e924";
}
.ip-trophy:before {
  content: "\e925";
}
.ip-wallet:before {
  content: "\e926";
}
.ip-warning-circle:before {
  content: "\e927";
}
.ip-warning-triangle:before {
  content: "\e928";
}
.ip-chart-pie:before {
  content: "\e929";
}
.ip-clock:before {
  content: "\e92a";
}
.ip-envelope:before {
  content: "\e92b";
}
.ip-folder:before {
  content: "\e92c";
}
.ip-folder-open:before {
  content: "\e92d";
}
.ip-heart:before {
  content: "\e92e";
}
.ip-key:before {
  content: "\e92f";
}
.ip-star-full:before {
  content: "\e930";
}
.ip-star-half:before {
  content: "\e931";
}
.ip-star:before {
  content: "\e932";
}
.ip-arrow-up-lg:before {
  content: "\e933";
}
.ip-cable-thunderbolt:before {
  content: "\e934";
}
.ip-cable-usb:before {
  content: "\e935";
}
.ip-carton:before {
  content: "\e936";
}
.ip-carton-lg:before {
  content: "\e937";
}
.ip-carton-sm:before {
  content: "\e938";
}
.ip-disk:before {
  content: "\e939";
}
.ip-hard-drive-hdd:before {
  content: "\e93a";
}
.ip-hard-drive-ssd:before {
  content: "\e93b";
}
.ip-main-memory:before {
  content: "\e93c";
}
.ip-percent:before {
  content: "\e93d";
}
.ip-plane:before {
  content: "\e93e";
}
.ip-processor:before {
  content: "\e93f";
}
.ip-screen:before {
  content: "\e940";
}
.ip-truck:before {
  content: "\e941";
}
.ip-usb-stick:before {
  content: "\e942";
}
.ip-arrow-down-lg:before {
  content: "\e943";
}
.ip-arrow-left-lg:before {
  content: "\e944";
}
.ip-arrow-right-lg:before {
  content: "\e945";
}
.ip-home:before {
  content: "\e946";
}
.ip-puzzle:before {
  content: "\e947";
}
.ip-tachometer:before {
  content: "\e948";
}
.ip-circle-info-fill:before {
  content: "\e949";
}
.ip-circle-tick:before {
  content: "\e94a";
}
.ip-circle-tick-fill:before {
  content: "\e94b";
}
.ip-cloud:before {
  content: "\e94c";
}
.ip-code:before {
  content: "\e94d";
}
.ip-coffee-bean:before {
  content: "\e94e";
}
.ip-comment:before {
  content: "\e94f";
}
.ip-comment-center:before {
  content: "\e950";
}
.ip-comment-content:before {
  content: "\e951";
}
.ip-comments:before {
  content: "\e952";
}
.ip-database:before {
  content: "\e953";
}
.ip-dollar:before {
  content: "\e954";
}
.ip-dollar-coin:before {
  content: "\e955";
}
.ip-earth:before {
  content: "\e956";
}
.ip-eraser:before {
  content: "\e957";
}
.ip-euro:before {
  content: "\e958";
}
.ip-euro-coin:before {
  content: "\e959";
}
.ip-eye:before {
  content: "\e95a";
}
.ip-layer:before {
  content: "\e95b";
}
.ip-shield:before {
  content: "\e95c";
}
.ip-shield-2:before {
  content: "\e95d";
}
.ip-shield-warning:before {
  content: "\e95e";
}
.ip-speech-bubble:before {
  content: "\e95f";
}
.ip-speech-bubbles:before {
  content: "\e960";
}
.ip-ticket:before {
  content: "\e961";
}
.ip-worldwide:before {
  content: "\e962";
}
.ip-yen:before {
  content: "\e963";
}
.ip-yen-coin:before {
  content: "\e964";
}
.ip-badge-percent:before {
  content: "\e965";
}
.ip-badge-tick:before {
  content: "\e966";
}
.ip-dots-horizontal:before {
  content: "\e967";
}
.ip-bolt:before {
  content: "\e968";
}
.ip-calendar:before {
  content: "\e969";
}
.ip-dots-vertical:before {
  content: "\e96a";
}
.ip-refresh:before {
  content: "\e96b";
}
